---
const today = new Date();
---

<footer class="border-t border-black border-solid">
  <div class="grid grid-cols-2 w-screen h-1/3 border-b border-black">
    <div class="border-r border-black border-solid p-3">
      <ul>
        <li>Jiwon Kwon</li>
        <li>Certified server</li>
        <li>kjiwon411@gmail.com</li>
      </ul>
    </div>
    <div class="bg-[url('/letters.jpeg')]"></div>
  </div>
  <div class="text-center p-3">
    &copy; {today.getFullYear()} 권지원. All rights reserved.
  </div>
</footer>
