---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <div id="title-container">
    <span class="title-text">
      <a href="/">{SITE_TITLE}</a>
    </span>
  </div>
  <nav>
    <div class="internal-links">
      <HeaderLink href="/about/">About</HeaderLink>
      <HeaderLink href="/tils/">TILs</HeaderLink>
    </div>
  </nav>
</header>

<style>
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    border-bottom: 1px solid black;
  }
  #title-container {
    padding-left: 20px;
  }
  nav {
    display: flex;
  }
  .title-text {
    font-size: 28px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    text-decoration: none;
  }

  .title-text > a {
    text-decoration: none;
  }
  .internal-links {
    display: flex;
    gap: 16px;
  }
</style>
