---
import { SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
    <head> </head>
    <h1><a href="/">{SITE_TITLE}</a></h1>

    <a href="/about/">About</a>
    <a href="/tils/">TILs</a>

    <body>
        <h2>This is my new garage.</h2>
    </body>
    <footer></footer>

    <style>
        main {
            border-left: 1px black solid;
            border-right: 1px black solid;
        }
    </style>


</html>
