---
import BasicLayout from "../layouts/BasicLayout.astro";
import MySiteLayout from "../layouts/BasicLayout.astro";
---

<BasicLayout title="Home Page">
	<p>My page content, wrapped in a layout!</p>
</BasicLayout>
