---
import BasicLayout from './BasicLayout.astro';
const { frontmatter } = Astro.props;
---
<BasicLayout>
<meta charset="utf-8" />
<h1>{frontmatter.title}</h1>
<p>{frontmatter.pubDate.toString().slice(0,10)}</p>
<p class="tags">Tags: [{frontmatter.tags.map((tag: any) => <span>${tag} </span>)}]</p>
<slot />
</BasicLayout>


<style>
h1 {
    font-family: 'NeueMontreal', Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    margin: 0;
}

p {
    margin: 0;
    font-family: 'NeueMontreal', Arial, Helvetica, sans-serif;
    font-size: 1.3em;

}
</style>